<% include ./partials/header %>


    
        <header class = "jumbotron">
            <div class = "container">
                <h1>Interview test</h1>
                <p>Register, Login, Logout</p>
            </div>
        </header>
        
        
<% include ./partials/footer %>